@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Add a class for the swing effect */
.swing {
  animation: swing 2s infinite ease-in-out; /* 2-second animation loop */
  transform-origin: top center; /* Swing from the top center */
}
@keyframes imgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imgRotate {
  animation: imgRotate 10s linear infinite; /* Apply rotation animation */
}
