@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Add a class for the swing effect */
.swing {
  animation: swing 2s infinite ease-in-out; /* 2-second animation loop */
  transform-origin: top center; /* Swing from the top center */
}
@keyframes imgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imgRotate {
  animation: imgRotate 30s linear infinite; /* Apply rotation animation */
}

@layer utilities {
  @keyframes fadeBackground {
    0%,
    20% {
      background-image: url("/src/assets/background1.jpg");
    }
    25%,
    45% {
      background-image: url("/src/assets/background2.jpg");
    }
    50%,
    70% {
      background-image: url("/src/assets/background3.jpg");
    }
    75%,
    95% {
      background-image: url("/src/assets/background4.jpg");
    }
    100% {
      background-image: url("/src/assets/background1.jpg");
    }
  }

  .animate-fade-background {
    background-size: cover;
    background-position: center;
    animation: fadeBackground 50s infinite ease-in-out;
  }
}
